<div class="background" (click)="removeModal()">
    
</div>
<section class="modal-content">
    <header>
        <h2>
            {{ (task | async)?.title }}
        </h2>

        
        <section class="btns">
            <!-- additional settings -->
            <button (click)="toggleSettingsMenu()">
                <img src="../../../assets/svgs/icon-vertical-ellipsis.svg" alt="vertical ellipsis svg icon">
            </button>

            <!-- settings -->
            @if(isActive) {
                <section class="settings">
                    <button class="edit-board"  >
                        Edit Task
                    </button>
                    <button class="delete-board" >
                        Delete Task
                    </button>
                </section>

            }
        </section>
        
        <!-- <div class="task-settings">
            <!-- <app-settings-dropdown-menu /> --
        </div> -->
    </header>

    @if ((task | async )?.description ) {
        <p class="description">
            {{ (task | async )?.description }}
        </p>
    }

    <p class="subtask-title">
        Subtask <span>
            <!-- 0 of 3 -->
            {{ statusCount | async }} of {{ ((task | async)?.subtasks)?.length }}
        </span>
    </p>

    <!-- loop through to get the data -->
    @for (subtask of (task | async)?.subtasks; track $index) {
        <div class="checkbox-wrapper-52">
            <label for="todo-{{$index}}" class="item">
              <input type="checkbox" id="todo-{{$index}}" class="hidden"/>
              <label for="todo-{{$index}}" class="cbx">      
                <svg width="14px" height="12px" viewBox="0 0 14 12">
                  <polyline points="1 7.6 5 11 13 1"></polyline>
                </svg>
              </label>
              <label for="todo-{{$index}}" class="cbx-lbl">{{subtask.title}}</label>
            </label>
        </div>
        
        <!-- <div class="subtask">
            <input type="checkbox" name="" id="is-complete">
            <label for="is-complete">{{ subtask.title }}</label>
        </div> -->

    }

    <!-- current status -->
    <select name="" id="">
        @for(status of (columns$ | async); track $index) {
            <option [value]="status.name">
                {{ status.name }}
            </option>

        }
    </select>
</section>