@use "../../../sass/variables" as var;
@use "../../../sass/mixins" as mix;
@use "../../../sass/functions" as func;
@use "../../../sass/select-dropdown" as select;
@use "../../../sass/custom-checkbox" as checkbox;


h2 {
  @include mix.headerL;
}
.description {
  @include mix.bodyL(var.$color-medium-gray);
}
.subtask-title {
  @include mix.bodyM(var.$color-medium-gray)
}
.subtask {
  @include mix.flex();
  background-color: var.$color-light-gray;
  border-radius: func.pixelsToRem(4);
  padding: func.pixelsToRem(12);

  &:hover {
    background-color: func.addTransparency(var.$color-main-purple, 25%);
  }

  label {
    @extend .subtask-title;
    color: var.$color-black;

    &:active {
      color: var.$color-medium-gray;
    }
  }

}

select {
  @include select.select;
  @include select.select-inner;
}

@include checkbox.custom-checkbox ;



