@use "../../../sass/variables" as var;
@use "../../../sass/mixins" as mix;
@use "../../../sass/functions" as func;
@use "../../../sass/select-dropdown" as select;
@use "../../../sass/custom-checkbox" as checkbox;


header {
  position: relative;
  @include mix.flex();
  justify-content: space-between;
  h2 {
    @include mix.headerL;
  }

  .task-settings {
    // position: absolute;
  }

  .btns {
    position: relative;


    .settings {
      position: absolute;
      top: func.pixelsToRem(30);
      right: func.pixelsToRem(5);
      @include mix.flex(column);
      width: func.pixelsToRem(180);
      padding: 1.5rem 1rem;
      background-color: var.$color-white;
      box-shadow: 0 0 10px 5px func.addTransparency(var.$color-dark-gray-v1, 20%);
      border-radius: func.pixelsToRem(8);
    
      button {
          @include mix.button-fonts(13, bold);
          padding: .2rem 0;
          &.edit-board {
              color: var.$color-medium-gray;
          }
    
          &.delete-board {
              color: var.$color-red;
          }
    
      }
    
    }
    
  }

  


}
.subtask-container,
.current-status-container {
  @include mix.flex(column, .5);
}
.description {
  @include mix.bodyL(var.$color-medium-gray);
}
.subtask-title,
.current-status {
  @include mix.bodyM(var.$color-medium-gray);
  margin-bottom: func.pixelsToRem(8);
}
.cbx-lbl {
  @extend .subtask-title;
}
.subtask {
  @include mix.flex();
  background-color: var.$color-light-gray;
  border-radius: func.pixelsToRem(4);
  padding: func.pixelsToRem(12);

  &:hover {
    background-color: func.addTransparency(var.$color-main-purple, 25%);
  }

  label {
    @extend .subtask-title;
    color: var.$color-black;

    &:active {
      color: var.$color-medium-gray;
    }
  }

}

.checkbox-wrapper-52 {
  background-color: var.$color-light-gray;
  border-radius: func.pixelsToRem(4);
  padding: func.pixelsToRem(13);
  color: var.$color-black;
}

// select {
//   @include select.select;
//   @include select.select-inner;
// }

@include checkbox.custom-checkbox ;



