<div class="background">
    <section class="modal-content">
        <h2>
            {{ (task | async)?.title }}
        </h2>

        <p>
            Subtask <span>
                <!-- 0 of 3 -->
                {{0}} of {{ ((task | async)?.subtasks)?.length }}
            </span>
        </p>

        <!-- loop through to get the data -->
        @for (subtask of (task | async)?.subtasks; track $index) {
            <div>
                <input type="checkbox" name="" id="is-complete">
                <label for="is-complete">{{ subtask.title }}</label>
            </div>

        }

        <!-- current status -->
        <select name="" id="">
            @for(status of (columns$ | async); track $index) {
                <option [value]="status.name">
                    {{ status.name }}
                </option>

            }
        </select>
    </section>

</div>