<h2>
    Add New Task
</h2>

<form>
    <div class="name">
        <label for="name">Name</label>
        <input type="text">
    </div>

    <div class="columns">
        <label for="column-name">
            Columns
        </label>
        <div>
            <input type="text">
            <button>
                x
            </button>
        </div>
    </div>

    <div class="btns">
        <button class="add-new-column">
            + Add New Column
        </button>
        <button class="create-new-board">
            Create New Board
        </button>
    </div>

</form>