
<div class="background" (click)="isTaskEditable ? cancelModal() : removeModal()">
    
</div>
<section class="form-container">
    <h2>
        {{ isTaskEditable ? 'Edit Task' : 'Add New Task' }}
    </h2>
    
    <form [formGroup]="taskForm" (ngSubmit)="isTaskEditable ? saveChanges() : createTask()">
        <section class="title">
            <label for="title">Title</label>
            <input type="text" placeholder="e.g. Take coffee break" formControlName="title">
        </section>
    
        <section class="description">
            <label for="description">Description</label>
            <textarea name="description" cols="30" rows="5" id="description" placeholder="e.g. It's always good to take a break. This 15 minute break will recharge the batteries a little." formControlName="description"></textarea>
        </section>
    
        <section class=" ">
            <label for="subtask-label">
                Subtasks
            </label>
            <div class="subtask-container" formArrayName="subtasks">
                @for (subTask of subTaskArray.controls; track $index) {
                    <div [formGroupName]="$index" class="subtask">
                        <input type="text" formControlName="title">
                        <button class="delete-subtask" (click)="removeSubTask($index)">
                            <img src="../../../assets/svgs/icon-cross.svg" alt="cancel button for the subtask">
                        </button>
                    </div>
        
                }
    
            </div>
            <button type="button" class="add-new-subtask" (click)="addSubTask()">
                + Add New Subtask
            </button>
        </section>
    
        <!-- select -->
        <section class="status-container" >
            <label for="status">Status</label>
            <select name="" id="" formControlName="status">
                @for (status of boardStatus$ | async; track $index) {
                    <option [value]="status.name">{{status.name}}</option>
                }
            </select>
        </section>
        <!-- <section class="status-container" formArrayName="status">
            <label for="status">Status</label>
            <select name="" id="" formControlName="status">
                @for (status of boardStatus$ | async; track $index) {
                    <option value="status.name">{{status.name}}</option>
                }
            </select>
        </section> -->
    
        <div class="btns">
            <button type="submit" class="create-new-task">
                Create Task
            </button>
        </div>
    
    </form>

</section>