@use 'sass:math';
@use './variables' as var;
@use './functions' as func;

@mixin font-default($weight) {
    font-weight: $weight;
    font-family: var.$font-jakarta-sans;
}

@mixin headerXl {
    @include font-default(bold);
    font-size: func.pixelsToRem(24);
    line-height: func.pixelsToRem(30);
    color: var.$color-black;
}

@mixin headerL {
    @include font-default(bold);
    font-size: func.pixelsToRem(18);
    line-height: func.pixelsToRem(23);
}

@mixin headerM {
    @include font-default(bold);
    font-size: func.pixelsToRem(15);
    line-height: func.pixelsToRem(19);
}

@mixin headerS {
    @include font-default(bold);
    font-size: func.pixelsToRem(12);
    line-height: func.pixelsToRem(15);
    letter-spacing: func.pixelsToRem(2);
}

@mixin bodyM {
    @include font-default(medium);
    font-size: func.pixelsToRem(13);
    line-height: func.pixelsToRem(23);
}

@mixin bodyS {
    @include font-default(bold);
    font-size: func.pixelsToRem(12);
    line-height: func.pixelsToRem(15);
}

// buttons
@mixin buttons ($color: var.$color-white, $bg: var.$transparent) {
    color: $color;
    background: $bg; 
}
@mixin button-fonts($size, $weight) {
    font-weight: $weight;
  
    // Check if the size has a 'rem' unit, otherwise convert from 'px' to 'rem'
    @if unit($size) == 'rem' {
      font-size: $size;
    } @else {
      font-size: math.div($size, 16) * 1rem;
    }
  }
  

@mixin primary-button-idle {
    background-color: var.$color-main-purple;
    color: var.$color-white;
}

@mixin secondary-button-idle {
    background-color: func.addTransparency(var.$color-main-purple, 10);
    color: var.$color-main-purple;

}

@mixin button-destructive {
    background-color: var.$color-red;
    color: var.$color-white;
}

// button hover
@mixin primary-button-idle-hover {
    background-color: var.$color-purple-light;
}

@mixin secondary-button-idle-hover {
    background-color: func.addTransparency(var.$color-main-purple, 25%);
    color: var.$color-main-purple;
}

@mixin button-destructive-hover {
    background-color: var.$color-light-red;
    color: var.$color-white;
}

// SPECIAL BUTTON STYLES
@mixin add-button-primary($height:48, $padding:15) {
    @include buttons(_, var.$color-main-purple);
    @include headerM();
    height: func.pixelsToRem($height);
    border-radius: func.pixelsToRem(24);
    padding: func.pixelsToRem($padding) 1.5rem;
    transition: all 300ms ease-in-out;
    
    &:hover {
        @include buttons(_, var.$color-purple-light);

    }

}
@mixin add-button-secondary {
    @include buttons(_, func.addTransparency(var.$color-main-purple, 10%));
    @include headerM();
    height: func.pixelsToRem(30);
    border-radius: func.pixelsToRem(24);
    padding: func.pixelsToRem(0) 1.5rem;
    transition: all 300ms ease-in-out;
    
    &:hover {
        @include buttons(_, func.addTransparency(var.$color-main-purple, 25%));

    }

}

// flex
@mixin flex ($direction: row, $gap: 1) {
    display: flex;
    flex-direction: $direction;
    gap: $gap + rem;
}

// grid
@mixin grid () {
    display: grid;
    // grid-template-columns: 300px 1fr;
    // grid-template-rows: 100%;
    // grid-template-columns: 1fr 1.3fr 1.1fr;
    // grid-template-rows: 0.5fr 1.7fr 1.1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "nav nav"
    "board board"
    "board board";
    height: 100%;
    
    @media screen and (min-width: 760px) {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 0.3fr 1.7fr 1.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "side-bar nav nav"
          "side-bar board board"
          "side-bar board board";
        
    }
}

// mobile
// app-root {
//     display: grid;
//     grid-template-columns: 1fr 3fr;
//     grid-template-rows: 0.3fr 1.7fr 1.1fr;
//     gap: 0px 0px;
//     grid-auto-flow: row;
//     grid-template-areas: "side-bar nav nav nav"
//     "side-bar board board board"
//     "side-bar board board board";
//     height: 100%;
// }

// large screen
// app-root {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 0.3fr 1.7fr 1.1fr;
//     gap: 0px 0px;
//     grid-auto-flow: row;
//     grid-template-areas: "nav nav"
//     "board board"
//     "board board";
//     height: 100%;
// }