@use './variables' as var;
@use './mixins' as mix;
@use './functions' as func;



@mixin custom-select {
  // min-width: 350px;
  max-width: 400px;
  position: relative;

  & > select,
  & > select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: func.pixelsToRem(4);
    color: #000;
    cursor: pointer;
  }

  &::after {
    --size: 1rem;
    content: "";
    position: absolute;
    right: 1rem;
    width: var(--size);
    height: var(--size);
    pointer-events: none;
    background-image: url('../assets/svgs/icon-chevron-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 8px;
}

}







