// colors
$color-main-purple: #635FC7;
$color-purple-light: #A8A4FF;
$color-black: #000112;
$color-very-dark-gray: #20212C;
$color-dark-gray: #2B2C37;
$color-dark-gray-v1: #3E3F4E;
$color-medium-gray: #828FA3;
$color-light-gray: #E4EBFA;

// font family


// font size
$x-large: 24px;
$large: 18px;
$medium: 15px;
$small: 12px;

$body-large: 13px;
$body-medium: 12px;

