
<div class="background" (click)="removeModal()">
</div>

<section class="form-container">
  <h2>
    {{ isEditable ? 'Edit Board' : 'Add New Board'}}
  </h2>
  
  <form [formGroup]="form" (ngSubmit)="isEditable ? saveChanges() : submit()">
    <section class="name">
      <label for="name">Name</label>
      <input type="text" formControlName="name" />
    </section>
  
    <section class="columns">
      <label for="column-name"> Columns </label>
      <div class="columns-container" formArrayName="columns">
        @for (column of columnFormArray.controls; track $index) {
        <div class="column" [formGroupName]="$index">
          <input type="text" formControlName="name" id="column-{{ $index }}" />
          <button type="button" (click)="removeColumn($index)">
            <img src="../../../assets/svgs/icon-cross.svg" alt="cancel button for the subtask">
          </button>
        </div>
        }
      </div>
    </section>
  
    <section class="btns">
      <button type="button" class="add-new-column" (click)="addColumns()">
        + Add New Column
      </button>
      <button type="submit" class="create-new-board">
        {{ isEditable ? "Save Changes" : "Create New Board" }}
      </button>
    </section>
  </form>

</section>