
<section class="app-controls">
    <!-- logo -->
    <div class="logo">
        <img src="../../../assets/svgs/logo-mobile.svg" alt="kanban logo svg icon">
    </div>
    
    <!-- board name -->
    <p class="board-name">
        {{ boardName }}
    </p>

</section>


<section class="btns">
    <!-- add new task -->
    <button>
        <img src="../../../assets/svgs/icon-add-task-mobile.svg" alt="add button svg icon">
        <p class="add-task">Add New Task</p>
    </button>

    <!-- additional settings -->
    <button (click)="toggleSettingsMenu()">
        <img src="../../../assets/svgs/icon-vertical-ellipsis.svg" alt="vertical ellipsis svg icon">
    </button>

    <!-- settings -->
    @if(isActive) {
        <section class="settings">
            <button class="edit-board" (click)="editBoard()">
                Edit board
            </button>
            <button class="delete-board" (click)="deleteBoard()">
                Delete board
            </button>
        </section>

    }
</section>