
<section class="app-controls">
    <!-- logo -->
    <div class="logo">
        <img src="../../../assets/svgs/logo-mobile.svg" alt="kanban logo svg icon">
    </div>
    
    <!-- board name -->
    <p class="board-name">
        {{ boardName }}
    </p>

</section>


<section class="btns">
    <button>
        <img src="../../../assets/svgs/icon-add-task-mobile.svg" alt="add button svg icon">
        <p class="add-task">Add New Task</p>
    </button>
    <button>
        <img src="../../../assets/svgs/icon-vertical-ellipsis.svg" alt="vertical ellipsis svg icon">
    </button>
    <!-- settings -->
    <section class="settings">
        <button class="edit-board">
            Edit board
        </button>
        <button class="delete-board">
            Delete board
        </button>
    </section>
</section>