/* You can add global styles to this file, and also import other style files */
@use 'sass/variables' as var;
@use 'sass/mixins' as mix;
@use 'sass/functions' as func;
@use 'sass/theme' as theme;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
    background-color: var.$color-light-gray;
    font-family: var.$font-jakarta-sans;
    position: relative;
}
app-root {
    // @include mix.flex(column);
    @include mix.grid();
    height: 100%;

    app-nav {
        @include mix.flex();
        justify-content: space-between;
        align-items: center;
        height: func.pixelsToRem(100);
        padding: 1.5rem;
        grid-column: 1/-1;
        background-color: var.$color-white;
        border-bottom: 1px solid var.$color-medium-gray-v2;
        grid-area: nav;

        @media screen and (min-width: 760px) {
            grid-column: 2/3;
        }
    }

    app-sidebar {
        display: none; // NOTE: hides the side bar on mobile view
        width: func.pixelsToRem(300);
        grid-column: 1/2;
        grid-row: 1;
        background-color: var.$color-white;
        border-right: 1px solid var.$color-medium-gray-v2;
        grid-area: side-bar;
        
        @media screen and (min-width: 760px) {
            display: block; //NOTE: displays the side bar on large screens
        }
    
    }

    app-board-container {
        @include mix.flex();
        width: 100%;
        height: 100%;


        
    }
    .board-space {
        grid-area: board;
        @include mix.flex();
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }

    .empty-board {
        @include mix.headerL;
        color: var.$color-medium-gray;
    
    }
}

app-task-form-modal {
    @include mix.modal;
}
app-selected-task {
    @extend app-task-form-modal;
}


button {
    @include mix.buttons();
    @include mix.flex();
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
}



// @media screen and (min-width: 760px) {
//     .logo {
//         display: none;
//     }
// }
